@import "tailwindcss";

.input {
  @apply border rounded px-3 py-2 text-sm bg-white outline-none focus:ring-2 focus:ring-pink-200;
}
.animate-popUp {
  animation: popUp 0.3s forwards;
}
@keyframes popUp {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
